@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap');



/* Default */
:focus {
	outline: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-shadow: none;
}

html {
	-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	-ms-touch-action: manipulation;
		touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	font-size: 16px;
	line-height: 1.15;
}

@media (min-width: 2048px) {
	html {
		font-size: 0.78125vw;
	}
}

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg,
img{
  width: 100%;
  height: auto;
}

/*Grid*/

.container {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
}

.container-fluid{
    margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-right: 25px;
	padding-left: 25px;
}

@media (min-width: 768px) {
	.container {
		max-width: 90%;
    }
}

.row{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: 25px;
	margin-left: -25px;
}

.col{
	position: relative;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.search_wrapper{
  display: flex;
}

input.city_name{
  border: 1px solid;
  border-radius: 5px 0 0 5px;
  padding: 1rem;
  font-weight: 500;
}

button.search_button{
  border: 1px solid;
  padding: 0 1rem;
  border-left: 0;
  border-radius: 0px 5px 5px 0;
  cursor: pointer;
  outline: none;
  font-weight: 500;
}